.container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 可视区域的高度 */
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
